Debug/
Release/
x64/
x86/

*.obj
*.pdb
*.idb
*.ilk
*.exe
*.dll
*.lib
*.log

.vs
*.suo
*.user
*.userosscache
*.sln.docstates

*.pch
*.ipch
*.aps
*.ncb
*.opendb
*.tlog

CMakeCache.txt
CMakeFiles/
cmake-build-*/

*.bak
*.tmp
